{% extends 'main.html' %}
{% block content %}
<br>
<div class="container col-xl-5">




    <form method="post">
        {% csrf_token %}
        <div>
            <div>
                <label class="form-label">{{ form.username.label_tag }}</label>
            </div>
            <div class="col">
                {{ form.username }}
            </div>
        </div>
        <div>
            <div>
                <label class="form-label">{{ form.password.label_tag }}</label>
            </div>
            <div class="col">
                {{ form.password }}
            </div>
        </div>
        <hr>
        <input class="w-20 btn navbar-foo" type="submit" value="Submit">

    </form>
</div>
{% endblock %}