{% extends 'main.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label class="form-label">Athlete's name</label>
                        {{ form.name }}
                        <div class="invalid-feedback">
                            Your username is required.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Nickname</label>
                        {{ form.nickname }}
                        <div class="invalid-feedback">
                            Your username is required.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Country</label>
                        {{ form.country }}
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Position</label>
                        {{ form.position }}
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Team</label>
                        {{ form.team }}
                    </div>
                </div>
                <hr class="my-4">
                <input class="w-20 btn navbar-foo" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{{form_msg}}
{% endblock %}