{% extends 'main.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static '/images/example-2.png' %}"
                     class="d-block mx-lg-auto img-fluid" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">
                    Start training smarter by tracking everything
                </h1>
                <p class="lead">
                    Every pool, every movement.
                    Track it all and get to know your team's performance
                </p>
                <div class="d-flex justify-content-center">
                    <div class="btn m-2" style="background-color: rgb(30,230,30);">
                        <a href="/sign-up" class="text-dark text-decoration-none">SIGN-UP FOR FREE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">
                    Summarized report, highlighting strengths and weaknesses
                </h1>
                <p class="lead">
                    How does your team measure up against others?
                    Is it improving?
                    Are there specific blocks that need attention?
                </p>
                <div class="d-flex justify-content-center">
                    <div class="btn m-2" style="background-color: rgb(30,230,30);">
                        <a href="/jumps/497c2597-4dbb-4cb7-b92d-27cd641f6c9c"
                           class="text-dark text-decoration-none">Check Foo Flyers stats</a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static '/images/example-1.png' %}"
                     class="d-block mx-lg-auto img-fluid" loading="lazy">
            </div>
        </div>
    </div>
</main>
{% endblock %}