{% extends 'main.html' %}
{% block content %}
<br>
<div class="container col-xl-5">
    <form method="post">
        {% csrf_token %}
        <div>
            <div>
                <label class="form-label">Email</label>
            </div>
            <div class="col">
                <input id="email-input" name="email-input" class="form-control" type="text">
            </div>
        </div>
        <div>
            <div>
                <label class="form-label">Password</label>
            </div>
            <div class="col">
                <input id="password-input" name="password-input" class="form-control" type="password">
            </div>
        </div>
        <hr>
        <input class="w-20 btn navbar-foo" type="submit" value="Submit">
    </form>
</div>
{% endblock %}