{% extends 'main.html' %}
{% block content %}
{% load static %}

<script src="{% static '/d3js/d3.v6.js' %}"></script>
<div class="container">
    <div class="row">
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Jumps</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Pool</th>
                    <th scope="col">Points</th>
                    <th scope="col">Busts</th>
                </tr>
                </thead>
                <tbody>
                {% for jump in jumps %}
                <tr>
                    <td>{{jump.date|date:"Y-m-d"}}</td>
                    <td>{{jump.pool}}</td>
                    <td>{{jump.points}}</td>
                    <td>{{jump.busts}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Transitions Map (Avg Time)</p>
            <div id="my_dataviz"></div>
        </div>
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Transitions Map - Comparing to Other Teams</p>
            <div id="my_dataviz2"></div>
        </div>
    </div>
</div>
<script>const data_url = "{% url 'heatmap_transition' team.external_id %}"</script>
<script src="{% static '/js/heatmap.js' %}"></script>
<script>genHeatMap("{% url 'heatmap_transition' team.external_id %}","#my_dataviz")</script>
<script>genHeatMap("{% url 'heatmap_transition_comparison' team.external_id %}","#my_dataviz2")</script>
{% endblock %}