{% extends 'main.html' %}
{% block content %}
{% load static %}

<script src="{% static '/d3js/d3.v6.js' %}"></script>
<div class="container">
    <div class="row">
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Team: {{team.name}}</p>
            {% for member in members %}
            {{member.name}} ({{member.nickname}}) - {{member.get_position_display}}<br>
            {% endfor %}
        </div>
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Filters</p>
            <form action="" method="post">
                {% csrf_token %}
                Tag Selection:
                <select class="form-select" name="tag_filter">
                    <option value="">---</option>
                    {% for tag in available_tags %}
                    <option value="{{tag.external_id}}"
                            {% if tag_filter == tag.external_id|stringformat:"s" %} selected {% endif %}>{{tag.label}}
                    </option>
                    {% endfor %}
                </select>
                <hr>
                <input class="w-20 btn navbar-foo" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Overview</p>
            <div class="overflow-auto" style="max-height: 400px;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">KPI</th>
                        <th scope="col">Team</th>
                        <th scope="col">Other Teams</th>
                        <th scope="col">Diff</th>
                        <th scope="col">%</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Avg Points</td>
                        <td>{{overview.team.avg_points|floatformat:2}}</td>
                        <td>{{overview.other_teams.avg_points|floatformat:2}}</td>
                        <td>{{overview.diff.avg_points|floatformat:2}}</td>
                        <td>{{overview.percentage.avg_points|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Randoms Transitions Avg Time</td>
                        <td>{{overview.team.avg_time_randoms|floatformat:2}}</td>
                        <td>{{overview.other_teams.avg_time_randoms|floatformat:2}}</td>
                        <td>{{overview.diff.avg_time_randoms|floatformat:2}}</td>
                        <td>{{overview.percentage.avg_time_randoms|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Blocks Avg Time</td>
                        <td>{{overview.team.avg_time_blocks|floatformat:2}}</td>
                        <td>{{overview.other_teams.avg_time_blocks|floatformat:2}}</td>
                        <td>{{overview.diff.avg_time_blocks|floatformat:2}}</td>
                        <td>{{overview.percentage.avg_time_blocks|floatformat:2}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Jumps</p>
            <div class="overflow-auto" style="max-height: 400px;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Tag</th>
                        <th scope="col">Pool</th>
                        <th scope="col">Points</th>
                        <th scope="col">Busts</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for jump in jumps %}
                    <tr>
                        <td>{{jump.date|date:"Y-m-d"}}</td>
                        <td>{% for tags in jump.jump_tags.all %} {{tags}} {% endfor %}</td>
                        <td>{{jump.pool}}</td>
                        <td>{{jump.points}}</td>
                        <td>{{jump.busts}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Transitions Map</p>
            <p class="h6">Avg. time in seconds between random points</p>
            <div id="my_dataviz"></div>
        </div>
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Transitions Map - Comparing to Other Teams</p>
            <div id="my_dataviz2">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Block Transitions</p>
            <p class="h6">Avg. time in seconds to complete a block.</p>
            <div id="team_block_transitions"></div>
        </div>
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Block Transitions - Comparing to Other Teams</p>
            <div id="team_block_transitions_comparison">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <p class="h2">Time Trend</p>
            <p class="h6">Time spent on transitions by day.</p>
                <div class="d-flex align-items-center">
                        <div class="m-1">Select a block: </div>
                        <select style="width: 10% !important;" class="form-select form-select-sm m-1" name="block_filter" id="block_filter" onchange="toggle(this)">
                            {% for block in blocks %}
                            <option value="{{block}}" {% if block == block_filter %}selected{% endif %} >{{block}}</option>
                            {% endfor %}
                        </select>
                </div>
            <div id="time_trend" class="align-items-center">
            </div>
        </div>
    </div>
</div>
<script src="{% static '/js/heatmap.js' %}"></script>
<script>genHeatMap("{% url 'heatmap_transition' team.external_id %}?{{ query_params }}","#my_dataviz",[-2,-0.5])</script>
<script>
    barChart("{% url 'block_transition' team.external_id %}?{{ query_params }}","#team_block_transitions", [0,5]);
    genHeatMap("{% url 'heatmap_transition_comparison' team.external_id %}?{{ query_params }}","#my_dataviz2",[-0.3,0.3]);
    barChart("{% url 'block_transition_comparison' team.external_id %}?{{ query_params }}","#team_block_transitions_comparison", [-1.5,2]);
    var trendUrl = "{% url 'transition_trend_all_data' team.external_id %}?{{ query_params }}";
</script>
{% endblock %}