{% extends 'main.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <form method="post"> {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label>Team</label>
                            <select class="form-select" name="team-select" id="team-select">
                                <option>-</option>
                                {% for team in teams %}
                                <option value="{{team.external_id}}">{{team.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label>Date</label>
                        <input name="jump-date" id="jump-date" type="date" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label>Pool</label>
                    {% for i in "12345" %}
                    <div class="col">
                        <select name="pool-point{{i}}" id="pool-point{{i}}" class="form-select">
                            <option>-</option>
                            {% for point in points %}
                            <option value="{{point.external_id}}">{{point}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mb-3">
                    <div>
                        <i class="bi bi-youtube" style="font-size: 1.5rem; color: rgba(30,230,30,1);"></i>
                    <label>Youtube URL</label>
                    </div>
                    <div class="col">
                        <input id="url-input" name="url-input" class="form-control" type="url" placeholder="https://">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label>Points</label>
                            <input id="total-points" name="total-points" type="number" class="form-control" placeholder="0">
                        </div>
                    </div>
                    <div class="col">
                        <label>Busts</label>
                        <input  id="total-busts" name="total-busts" type="number" class="form-control" placeholder="0">
                    </div>
                </div>
                <table class="table table-striped" id="table-results">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Point</th>
                        <th scope="col">Time</th>
                        <th scope="col">Diff</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <button type="submit" class="btn" style="background-color: rgb(30,230,30);">Save</button>
            </form>
        </div>
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <div class="row">
                <label> Tracker</label>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe id = "video-iframe"
                        class="embed-responsive-item" width="560" height="315"
                        src="https://www.youtube.com/embed/mcfjCjd3qFc"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <div class="timerDisplay">
                00 : 000
            </div>
            <button id="start-button" type="submit" class="btn" style="background-color: rgb(30,230,30);">Start/Point (q)</button>
            <button id="bust-button" type="submit" class="btn" style="background-color: rgb(30,230,30);">Bust (w)</button>
            <button onclick="resetResults();" id="reset-button" type="submit" class="btn" style="background-color: rgb(30,230,30);">Reset</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/tracker.js"></script>
{% endblock %}