{% extends 'main.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <form method="post"> {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label>Team</label>
                            <select class="form-select" name="team-select" id="team-select">
                                <option>-</option>
                                {% for team in teams %}
                                <option value="{{team.external_id}}">{{team.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label>Date</label>
                        <input name="jump-date" id="jump-date" type="date" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label>Pool</label>
                    {% for i in "12345" %}
                    <div class="col">
                        <select name="pool-point{{i}}" id="pool-point{{i}}" class="form-select">
                            <option>-</option>
                            {% for point in points %}
                            <option value="{{point.external_id}}">{{point}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mb-3">
                    <label>URL</label>
                    <div class="col">
                        <input id="url-input" name="url-input" class="form-control" type="url" placeholder="http://">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label>Points</label>
                            <input id="total-points" name="total-points" type="number" class="form-control" placeholder="0">
                        </div>
                    </div>
                    <div class="col">
                        <label>Busts</label>
                        <input  id="total-busts" name="total-busts" type="number" class="form-control" placeholder="0">
                    </div>
                </div>
                <table class="table table-striped" id="table-results">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Point</th>
                        <th scope="col">Time</th>
                        <th scope="col">Diff</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <button type="submit" class="btn" style="background-color: rgb(30,230,30);">Save</button>
            </form>
        </div>
        <div class="col shadow-sm p-2 mb-5 bg-white rounded m-2">
            <div class="row">
                <label> Tracker</label>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe id = "video-iframe"
                        class="embed-responsive-item" width="560" height="315"
                        src="https://www.youtube.com/embed/mcfjCjd3qFc"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <div class="timerDisplay">
                00 : 000
            </div>
            <button id="start-button" type="submit" class="btn" style="background-color: rgb(30,230,30);">Start/Point (q)</button>
            <button id="bust-button" type="submit" class="btn" style="background-color: rgb(30,230,30);">Bust (w)</button>
            <button onclick="resetResults();" id="reset-button" type="submit" class="btn" style="background-color: rgb(30,230,30);">Reset</button>
        </div>
    </div>
</div>
<script>
let [milliseconds,seconds] = [0,0];
let timerRef = document.querySelector('.timerDisplay');
let nIntervId;
let currentTime = 0;
let timeDiff = 0;
let lastTime = 0;
let points = 0;
let busts = 0;
let blocks = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22"];

function resetResults() {
clearInterval(nIntervId);
[milliseconds,seconds] = [0,0];
timerRef = document.querySelector('.timerDisplay');
nIntervId = null;
currentTime = 0;
timeDiff = 0;
lastTime = 0;
points = 0;
busts = 0;
timerRef.innerHTML = "00 : 000";
updatePoints();
const myNode = document.getElementById("table-results").getElementsByTagName('tbody')[0];
myNode.innerHTML = "";
}

function getVideoId(url) {
    const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
    const match = url.match(regExp);

    return (match && match[2].length === 11)
      ? match[2]
      : null;
}


document.getElementById("url-input").addEventListener('input', (e)=>{
document.getElementById("video-iframe").src = "https://www.youtube.com/embed/".concat(getVideoId(e.target.value));
});

function updatePoints() {
    document.getElementById("total-points").value = points;
    document.getElementById("total-busts").value = busts;
}

function startButton() {
    if(!nIntervId){
            nIntervId = setInterval(displayTimer,10);
        }
        if(seconds < 35) {
            currentTime = seconds + (milliseconds/1000);
            timeDiff = currentTime - lastTime;
            lastTime = currentTime;
            if (points != 0) {
                registerPoint(points, currentTime, timeDiff, '✔');
                updatePoints();
                }
            points++;
        }
}

document.getElementById('start-button').addEventListener('click', startButton);

function bustButton() {
    if(seconds < 35) {
            busts++;
            currentTime = seconds + (milliseconds/1000);
            timeDiff = currentTime - lastTime;
            lastTime = currentTime;
            if (points != 0) {
                registerPoint(points, currentTime, timeDiff, '✘');
                updatePoints();
                }
            points++;
        }
}

document.getElementById('bust-button').addEventListener('click', bustButton);

function displayTimer(){
    milliseconds+=10;
    if(milliseconds == 1000){
        milliseconds = 0;
        seconds++;
        if(seconds == 35){
            clearInterval(nIntervId);
        }
    }

 let s = seconds < 10 ? "0" + seconds : seconds;
 let ms = milliseconds < 10 ? "00" + milliseconds : milliseconds < 100 ? "0" + milliseconds : milliseconds;

 timerRef.innerHTML = `${s} : ${ms}`;
}

function getPoolPoints() {
    const pool = [];
    for (let i = 1; i <= 5; i++) {
        var str = "pool-point";
        str += i;
        var point = document.getElementById(str);
        var pointValue = point.options[point.selectedIndex].value;
        var pointText = point.options[point.selectedIndex].text;
        if (pointText != "-") {
            if (blocks.includes(pointText)) {
                pool.push([pointValue, pointText.concat(' (start)')]);
                pool.push([pointValue, pointText.concat(' (end)')]);
            } else {
            pool.push([pointValue, pointText]);
            }
        }
    }
    return pool;
}

function createInput(name, value) {
    var input = document.createElement("input");
    input.type = "hidden";
    input.name = name;
    input.value = value;
    return input;
}

function registerPoint(qty, currentTime, timeDiff, pointStatus) {
  var pool = getPoolPoints();
  var pointFigure = pool[(qty-1)%pool.length];
  var tbodyRef = document.getElementById("table-results").getElementsByTagName('tbody')[0];
  var newRow = tbodyRef.insertRow();
  var cell1 = newRow.insertCell();
  var cell2 = newRow.insertCell();
  var cell3 = newRow.insertCell();
  var cell4 = newRow.insertCell();
  var cell5 = newRow.insertCell();
  newRow.appendChild(createInput("point-number",(qty).toString()));
  newRow.appendChild(createInput("point-figure",pointFigure[0]));
  newRow.appendChild(createInput("current-time",currentTime.toFixed(2).toString()));
  newRow.appendChild(createInput("time-diff",timeDiff.toFixed(2).toString()));
  newRow.appendChild(createInput("point-status",pointStatus));
  cell1.appendChild(document.createTextNode((qty).toString()));
  cell2.appendChild(document.createTextNode(pointFigure[1]));
  cell3.appendChild(document.createTextNode(currentTime.toFixed(2).toString()));
  cell4.appendChild(document.createTextNode(timeDiff.toFixed(2).toString()));
  cell5.appendChild(document.createTextNode(pointStatus));
}

document.addEventListener('keydown', (event) => {
    if(event.key === 'q') {startButton();}
    if(event.key === 'w') {bustButton();}
});
</script>
{% endblock %}